# Libraries for integration with cloud providers
boto3==1.28.27 
azure-mgmt==20.0.0 
google-cloud==2.12.0 
oci==2.100.0 
ibm-cloud-sdk-core==3.17.0 

# Cache management
cachetools==5.3.0

# Data validation and security
pydantic==1.10.13
cryptography==41.0.2

# CLI and user experience
rich==13.5.0 
click==8.1.7 

# Requests and handling APIs
requests==2.31.0
httpx==0.24.1

# Retries and resilience
tenacity==8.2.3

# Additional support for JSON and YAML
PyYAML==6.0
ujson==5.8.0
